{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a
			class="navbar-brand"
			href="#"
		>
			<div class="container-fluid">
				<img
					src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg"
					alt="Logo"
					width="30"
					height="24"
					class="d-inline-block align-text-top"
				/>
				Crane Tours Limited
			</div>
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div
			class="collapse navbar-collapse"
			id="navbarNav"
		>
			<div class="container d-flex justify-content-end">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a
							class="nav-link active"
							aria-current="page"
							href="{% url 'home' %}"
							>Home</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link"
							href="{% url 'trips' %}"
							>Trips</a
						>
					</li>
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							id="navbarDropdownMenuLink"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>
							About Us
						</a>
						<div
							class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink"
						>
							<a
								class="dropdown-item"
								href="{% url 'why' %}"
								>Discover</a
							>
							<a
								class="dropdown-item"
								href="{% url 'when' %}"
								>when to visit us</a
							>
							<a
								class="dropdown-item"
								href="{% url 'before' %}"
								>Before you visit</a
							>
						</div>
					</li>
					<li class="nav-item">
						<a
							class="nav-link"
							href="{% url 'contact' %}"
							>Contact Us</a
						>
					</li>

					{% if user.is_authenticated%}
					<li
						class="row nav-item"
						style="margin-left: 130px"
					>
						<div class="col">
							<img
								src="{% static 'assets/img/profile.png'%}"
								alt=""
								width="50"
							/>
						</div>
						<div class="col">
							<button class="btn btn-danger p-1">
								<a
									class="nav-link text-light"
									href="{% url 'logout' %}"
									>Logout</a
								>
							</button>
						</div>
					</li>
					{% else %}
					<li class="nav-item">
						<a
							class="nav-link"
							href="{% url 'login' %}"
							><button
								type="button"
								class="btn btn-primary"
							>
								Login
							</button></a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link"
							href="{% url 'signup' %}"
							><button
								type="button"
								class="btn btn-success"
							>
								sign up
							</button></a
						>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</nav>
